<% provide(:title, 'about') %>
<h1>Contact</h1>
<p>
  The <a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial</a> is a <a href="https://raw.githubusercontent.com/jay3126/various_imp_ebooks/master/the_ruby_programming_language.pdf">book</a> and screencast series to teach web develovement with Ruby on Rails. This is a sample application for tutorial.
</p>