<div class="admin-content">
<% provide(:title, 'Edit Word') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Word</h1>
</hr>
<div class="admin-row">
  <div class="col-md-3 col-md-offset-3">
    <%= render 'form' %>
    <div class="">
      <%#= Code here %>
      
    </div>
  </div>
</div>
</div>