<div class="admin-content">
	<% provide(:title, 'Create New Word') %>
	<% provide(:button_text, 'Create Word') %>
	<h1>Creating Word</h1>
	<hr/>
	<div class="admin-row">
		<div class="col-md-3 col-md-offset-3">
			<%= render 'form' %>
			<div class="gravatar_create">
				<%# Upload avatar %>
			</div>
		</div>
	</div>		
	
</div>