<h1>Lesson</h1>

<%= form_for @lesson do |f| %>
	
	<% @lesson.words.each do |word| %>
		<%= word.content%>

		<%= f.fields_for :word_answers do |builder| %>
			<% #code here %>
			<%= builder.check_box :correct %>
		<% end %>

	<% end %>

<% end %>
