<h1>Words</h1>
<html>
<table id="">
	<thead>
		<tr>
			<td></td>
			<td></td>
		</tr>		
	</thead>
	<tbody>
		<% @words.each do |word| %>
		<tr>
			<td><h5><%= word.content %></h5></td>
		</tr>
		<% end %>
	</tbody>
</table>
</html>
