<h1>Categories</h1>
<html>
<table id="">
	<thead>
		<tr>
			<td></td>
			<td></td>
		</tr>		
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td width="500px"><h3><%= category.name %></h3>
				<% @words.each do |word|
					if word.category_id == category.id %>	
						<%= word.content%>&nbsp;&nbsp;
					<% end %>
				<% end %>
				<p><%= button_to "Start", lessons_path({lesson: {category_id: category.id, user_id: current_user.id}}), :class => "lesson-button" %></p>
			</td>
			<td width="300px" height="200px">
				<input height="200px" type="text" name="text-input-lesson">
			</td>
		</tr>


		<% end %>
	</tbody>
</table>
</html>
