<h1>Categories</h1>
<html>
<table id="">
	<thead>
		<tr>
			<td></td>
			<td></td>
		</tr>		
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><h3><%= category.name %></h3></td>
			<td><h3><%#= category.id %></h3></td>
			<%# 
				@category = Category.find(params[:id])
				@words = @category.words %>
			<%# if @word.category.nil? 
				@msg = "None"
			else
			  @words.each do |word| %>
			<h5><%#= word.name %></h5>
			<%# end %>
			<%# end %>
		</tr>
		<% end %>
	</tbody>
</table>
</html>
