<div class="admin-content">
	<% provide(:title, 'Create New User') %>
	<% provide(:button_text, 'Create User') %>
	<h1>Creating User</h1>
	<hr/>
	<div class="admin-row">
		<div class="col-md-3 col-md-offset-3">
			<%= render 'form' %>
			<div class="gravatar_create">
				<%# Upload avatar %>
			</div>
		</div>
	</div>	
</div>